#m1, #m2, #m3, #m4, #m5, #s1, #s2, #s3, #s4{
  	                                   width: 320px;
									   position: static;
  	                                   height: 300px;
									   z-index: -11;
									   border: 5px solid #ccc;
    float: left;
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
									   overflow: hidden;
									   width: 730px;
									   color: transparent;
	line-height: 0px;
	color: transparent;
	line-height: 0px;
	
                                      }
.trans{
	color: transparent;
	line-height: 0px;
}
#m1:hover, #m2:hover, #m3:hover, #m4:hover, #m5:hover, #s1:hover, #s2:hover, #s3:hover, #s4:hover{
  z-index: 1;
                    opacity: 0.4;
					margin-top: 4px;
                    transition: opacity .3s ease-out;
					line-height: 133px;
	color: #575858;
                    }
					
					
					
		#m1, #m2, #m3, #m4, #s1, #s2, #s3, #s4 img{
	float: left;
		margin: 0 15px;}
					
#gallery-thumb{
	height: 133px;
	line-height: 0px;
	color: transparent;
	font-size: 50px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	   font-weight: 300;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}	
					
					
					
					
					
					
					
					
					
					
					

#nepa{
	
  	  margin: 0 auto;
     }

.check{
	
    margin: 0 auto;
    }

td{
	
  padding: 15px;
}

.fa {
	
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
#trans:hover {
    width: 300px;
    height: 300px;
    
}
#trans {
    
   
}






 a{
	   text-decoration: none;
	   color: black;
	  }
	  
	 #bg{
		 font-size: 33px;
		 color: dodgerblue;
	    }
		
	 #all li{
		     display: inline;
		     float: left;
			 padding: 6px;
			 font-size: 17px;
	        }
	 #AM{ 
		 margin-left: 370px;
	    }
		
	 #NM{
	     color: dodgerblue; 
	     font-size: 43px;
		
	    }
	 #ca{
		 font-size: 10px;
	    }
		
	 article{
	         text-align: center;
	        }

	 mark{
	      background-color: #fff;
		  color:dodgerblue;
	     }	
	 #art {
			text-allign: left;
		   }
		   .box {border:2px solid #eff0f2;
		   height:90px;
		   color:#8b8d91;
		   background:#eff0f2;}
	.box h2 {background:#8b8d91;color:white;padding:10px;}
		.box p {color:#333;padding:10px;}
	.image{
		
    border-radius: 50%;
	width:200px;
	height:200px;
	float:left;
	margin-right:150px
	border: 0px solid #fff;
    box-shadow: 0 0 0 5px grey;
	
		  }
		
	.wpda{
			width:900px;
			height:400px;
			float:center;
	}
		 #our{
				background-color: #f44336;
				color: white;
				padding: 14px 25px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				border: 2px solid #fff;
				box-shadow: 0 0 0 5px red;
				margin-left:00px;
			}
	input{
		text-align:center;
			width: 130px;
			padding: 20px;
			cursor: pointer;
			font-weight: bold;
			font-size: 150%;
			background: #3366cc;
			color: #fff;
			border: 1px solid #3366cc;
			border-radius: 10px;
			-moz-box-shadow: 6px 6px 5px #999;
			-webkit-box-shadow:: 6px 6px 5px #999;
			box-shadow:: 6px 6px 5px #999;
			text-align:center;
		}
.MyButton{
		   margin-left:00px;
		 }
.MyButton:hover { 
    background-color: yellow;}
  .My:hover { 
    background-color: yellow;}
	.Button:hover { 
    background-color: yellow;}
	.MyButton:focus{ 
    background-color: GREEN;}
	.Button:focus{ 
    background-color: GREEN;}
	.My:focus{ 
    background: GREEN;}
